<%= form_for(@ask, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<ul><li class="up"><p class="cname"><%= @ask.description %></p></li></ul>
    <%= f.label :helper, "Who do you want to ASK?" %>
    <%= f.text_field :helper, placeholder: "name" %>
    
    <%= f.check_box :public %>	<span class"cname">Make this ask public?</span><br><br>
  </div>
  <%= f.submit "Save", class: "btn btn-primary btn-small", id: "ask2-btn" %>
<% end %>