<% provide(:title, 'New ASK') %>
<div class="row">
  <div class="span3">
      <%= render 'shared/ask_title' %>
      <%= render 'shared/ask_text' %>
      <%= render 'shared/ask_text_long' %>
      <%= render 'ask1' %>
  </div>
  <div class="span3">
	  <%= render 'shared/ask_title' %>
      <%= render 'shared/ask_text' %>
      <%= render 'ask2' %>
  </div>
  <div class="span3">
	  <%= render 'shared/ask_title' %>
      <%= render 'shared/ask_text' %>
      <%= render 'ask3' %>
  </div>
  <div class="span3">
	  <%= render 'shared/ask_title' %>
      <%= render 'shared/ask_text' %>
      <%= render 'ask4' %>
  </div>
</div>