<% if current_user.contacts.any? %>
  <ul id="list">
    <% current_user.contacts.not_done.order("due_at ASC").each do |c| %> 
      <li class="up" id="<%= c.id.to_s %>">
            <span class="cname <%= "overdue" if c.overdue %>"><%= c.name %></span>
            <br>
            <span class="time-ago"><%= "Added #{time_ago_in_words(c.created_at)} ago." %></span><br>
            <% unless c.due_at == nil %>
              <span class="time-ago due_<%= c.id %>">
                  <%= "Due date: #{c.due_at.strftime('%b %e')}." %> <a href="#" id="<%= c.id %>">update</a><br>
              </span>
                <div id="edit_due_at_<%= c.id %>" class="hidden">
                  <%= form_for(c) do |f| %>
                    <%= f.text_field :due_at, value: "#{c.due_at.strftime('%b %e')}", class: "edit_due_date" %>
                    <%= f.submit "Update", class: "btn btn-small due_btn" %>
                  <% end %>
                </div>
            <% else %>
              <span class="time-ago">
                <a href="#" id="<%= c.id %>", class="tbd">add due date</a>
                <div id="edit_due_at_<%= c.id %>" class="hidden">
                  <%= form_for(c) do |f| %>
                    <%= f.text_field :due_at, class: "edit_due_date", placeholder:"#{(Date.today + 5).strftime('%b %d')}" %>
                    <%= f.submit "Add date", class: "btn btn-small due_btn" %>
                  <% end %>
                </div>
              </span>
            <% end %>
          <%= form_for(c) do |f| %>  
    				<%= f.hidden_field :done, :value=>true %>
            <%= f.hidden_field :date_done, value: Date.today %>
    				<%= f.submit "Mark as done", class: "btn btn-small hidden done_btn" %>
        <% end %>  
      </li>
    <% end %>
  </ul>
<% end %>