<h3><%= @helper_name %> wants to help with your ASK: <strong><%= @ask_description %></strong></h3>
<p>Message:</p>
<p style="font-size: 1.2em; font-style:italic; color:#333; margin-left: 10%; margin-right: 10%"><%= @message %></p>
<p>To respond to <%= @helper_name %>, just reply-all to this email. They are copied.</P>
<p>Learn more about <%= link_to "#{@helper_name} and their OPEN ASKs", @sender_url %><p>
<p><strong>Stuck??</strong> <a href="http://www.inc.com/magazine/20110201/how-great-entrepreneurs-think.html">Read how expert entrepreneurs think.</a></p>